[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Bip001
Bip001-Pelvis_
ex_pelvis1
Pelvis
SpineSpliter
spine_01
spine_02
Bip001-Spine2_
neck_01
Bip001-Head_
Fx_top
ex_head1
ex_head2
head
emotion
mouth
spine_03
Bip001-L-Clavicle_
Bip001-L-UpperArm_
lowerarm_l
hand_l
thumb_01_l
thumb_02_l
index_01_l
index_02_l
middle_01_l
middle_02_l
Bip001-Prop2
upperarm_l
ex_-clavicle
clavicle_l
Bip001-R-Clavicle_
Bip001-R-UpperArm_
lowerarm_r
hand_r
thumb_01_r
thumb_02_r
index_01_r
index_02_r
middle_01_r
middle_02_r
Bip001-Prop1
upperarm_r
clavicle_r
fat
skirt_F1
skirt_F2
skirt_B1
skirt_B2
ex_pelvis2
thigh_l
calf_l
foot_l
ball_l
thigh_r
calf_r
foot_r
ball_r
Fx_Name
Fx_Bottom
Fx_Ground
