[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Bone_Position
Bone_Rotation
Bone_Tail01
Bone_Tail02
Bone_Tail03
Bone_Tail04
Bone_Scale
Bone_Wing03
Bone_Wing04
Bone006
Bone_Wing01
Bone_Wing02
Bone005
Bone_Tooth01
Bone_Tooth03
Bone_Tooth02
Bone_Tooth04
Bone_Tongue01
Bone_Tongue02
FX_Top
Fx_Bottom
Fx_Ground
Fx_Name
